/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */

.custom-prettify .prettyprint {
    background: #1d1f21 !important;
    font-family: Menlo, Bitstream Vera Sans Mono, DejaVu Sans Mono, Monaco, Consolas, monospace;
    border: 0 !important;
}

.custom-prettify pre.prettyprint {
    padding: 5px !important;
    /* border:1px solid #888; */
    background: #1d1f21 !important;
    border: 1px solid #1d1f21 !important;
}

/*pre {
    display: block;
    padding: 9.5px;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    margin: 0 0 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;*/
/*background-color: #f5f5f5;*/
/*background-color: #1d1f21;
    border: 0px solid #ccc !important;
    border-radius: 4px;
}*/

.custom-prettify .pln {
    color: #c5c8c6;
}

/*.custom-prettify ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: #969896;
}*/
.custom-prettify ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: #808080;
}

.custom-prettify li.L0,
.custom-prettify li.L1,
.custom-prettify li.L2,
.custom-prettify li.L3,
.custom-prettify li.L4,
.custom-prettify li.L5,
.custom-prettify li.L6,
.custom-prettify li.L7,
.custom-prettify li.L8,
.custom-prettify li.L9 {
    padding-left: 1em;
    background-color: #1d1f21;
    list-style-type: decimal;
}

@media screen {
    .custom-prettify .str {
        color: #c9a26d;
    }

    .custom-prettify .inl {
        color: #6c95eb;
        font-family: "JetBrains Mono";
        font-style: italic;
    }

    .custom-prettify .kwd {
        color: #b294bb;
    }

    .custom-prettify .com {
        color: #969896;
    }

    .custom-prettify .typ {
        color: #81a2be;
    }

    .custom-prettify .lit {
        color: #de935f;
    }

    .custom-prettify .pun,
    .custom-prettify .opn,
    .custom-prettify .clo {
        color: #c5c8c6;
    }

    .custom-prettify .tag {
        color: #c66;
    }

    .custom-prettify .atn {
        color: #de935f;
    }

    .custom-prettify .atv {
        color: #8abeb7;
    }

    .custom-prettify .dec {
        color: #de935f;
    }

    .custom-prettify .var {
        color: #c66;
    }

    .custom-prettify .fun {
        color: #81a2be;
    }
}
