/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */

.custom-prettify-google .prettyprint {
    background: #1d1f21 !important;
    font-family: Menlo, Bitstream Vera Sans Mono, DejaVu Sans Mono, Monaco, Consolas, monospace;
    border: 0 !important;
}

.custom-prettify-google pre.prettyprint {
    padding: 5px !important;
    /* border:1px solid #888; */
    background: #1d1f21 !important;
    border: 1px solid #1d1f21 !important;
}

/*pre {
    display: block;
    padding: 9.5px;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    margin: 0 0 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;*/
/*background-color: #f5f5f5;*/
/*background-color: #1d1f21;
    border: 0px solid #ccc !important;
    border-radius: 4px;
}*/

.custom-prettify-google .pln {
    color: #c5c8c6;
}

/*.custom-prettify ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: #969896;
}*/
.custom-prettify-google ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: #969896;
}

.custom-prettify-google li.L0,
.custom-prettify-google li.L1,
.custom-prettify-google li.L2,
.custom-prettify-google li.L3,
.custom-prettify-google li.L4,
.custom-prettify-google li.L5,
.custom-prettify-google li.L6,
.custom-prettify-google li.L7,
.custom-prettify-google li.L8,
.custom-prettify-google li.L9 {
    padding-left: 1em;
    background-color: #1d1f21;
    list-style-type: decimal;
}

@media screen {
    .custom-prettify-google .str {
        color: #b5bd68;
    }

    .custom-prettify-google .kwd {
        color: #b294bb;
    }

    .custom-prettify-google .com {
        color: #969896;
    }

    .custom-prettify-google .typ {
        color: #81a2be;
    }

    .custom-prettify-google .lit {
        color: #de935f;
    }

    .custom-prettify-google .pun,
    .custom-prettify-google .opn,
    .custom-prettify-google .clo {
        color: #c5c8c6;
    }

    .custom-prettify-google .tag {
        color: #c66;
    }

    .custom-prettify-google .atn {
        color: #de935f;
    }

    .custom-prettify-google .atv {
        color: #8abeb7;
    }

    .custom-prettify-google .dec {
        color: #de935f;
    }

    .custom-prettify-google .var {
        color: #c66;
    }

    .custom-prettify-google .fun {
        color: #81a2be;
    }
}
