.tocWrapper {
    display: block;
    position: sticky;
    top: 70px;
}

.tocHeader {
    font-size: 13px;
}

.tocListWrapper {
    height: 100%;
    position: relative;
}

.tocList {
    list-style: none;
    padding-inline-start: 20px;
    margin-top: 5px;
}

.tocListWrapper::before {
    content: "";
    background-color: #1D1D1D;
    width: 3px;
    position: absolute;
    height: 100%;
}

.tocListItem {
    font-size: small;
    margin-bottom: 5px;
    user-select: none;
    position: relative;
    color: #c7c7c7;
    transition: color .2s ease;
}

    .tocListItem::after {
        position: absolute;
        background-color: transparent;
        content: "";
        width: 3px;
        top: 0px;
        bottom: 0px;
        left: -20px;
        border-radius: 100px;
        transition: background-color .3s ease;
    }

    .tocListItem:hover {
        cursor: pointer;
        color: white;
    }


.tocSubitem {
    padding-left: 10px;
}

.tocSelected {
    height: 100%;
    position: relative;
    color: #ff6d6d !important;
}

    .tocSelected::after {
        background-color: #ff6d6d;
    }



