<!-- Footer-->
<!--<link href="{{ "css/styles.css" | relURL }}" rel="stylesheet">-->

<footer class="footer bg-black small text-center text-white-50">
    <div class="container px-4 px-lg-5">
        <!--The astronaut intro sequence is a 3D animation I created from scratch in Cinema 4D as a study work from Visualdon. The goal was to replicate the original accurately, but I did incorporate a few minor changes.-->
        <p style="padding-bottom: 30px;"></p>
        <!--Copyright &copy; {{ now.Format "2006"}} {{ .Name }}-->
        <!--Copyright &copy; {{ now.Format "2006"}} by Guille Sanchez
    Copyright &copy; {{ now.Format "2006"}} by Guille Sanchez-->
        Copyright &copy;
        <script>document.write(new Date().getFullYear());</script> by Guille Sanchez
        <!--<br>
        Copyright &copy; <span id="currentYear"></span> by Guille Sanchez-->
        <br>
        All content and trademarks property of their respective owners.
    </div>


    <!--<script>
        document.addEventListener("DOMContentLoaded", function () {
            const yearElement = document.getElementById("currentYear");
            if (yearElement) {
                yearElement.textContent = new Date().getFullYear();
            }
        });
    </script>-->

</footer>

